{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4WD-PARTS</title>
    <link class="tab" rel="icon" href="{% static 'landing/tab.jpg' %}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'landing/styles.css'%}">
</head>
<body >
    
  
  
        <nav class="navbar sticky-top navbar-expand-lg  navbar-light bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img class="logo" src="{% static  'landing/log.png' %}"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#showcase">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#showcase2">Merchandise</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#hw">Contact Us</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
    

    
            <section class="showcase" id="showcase" >
              <div class="information">
                
                
                <h1 id="head"> Find the best car parts possible!</h1>
                <p id="p1">Are you looking for spare parts? We are at your service! Our company provides high-quality parts for your vehicle from top manufacturares. We are supplied directly from the factories of offical manufacturares, which grants the best brice. 
                  Take a look below to see.</p>
              </div>  
            </section>
        
            
      <section class="showcase2" id="showcase2">  
           
            <h2>Stock Block</h2>
           
            <div class="fwrap">
                 
                  
                <div class="wrap">    
                  <img src="{% static 'landing/head.jpg' %}" alt=""> 
                      
                        <h2>Engines</h2>
                        <p > Fully aseembled swap modifications and parts</p> 
                      
                </div> 
                <div class="wrap">
                  <img src="{% static 'landing/silv.jpg' %}" alt="">
                     
                        <h2>Suspensions</h2>
                        <p > From MacPherson to electronic, hydropneumatic and air suspensions.</p>
                     
                      </div>
                  
                <div class="wrap">
                  <img src="{% static 'landing/sus2.jpg' %}" alt="">
                      
                        <h2>Rally and buggy</h2>
                        <p > Swap kits by professionals to professionals.</p>
                      
            </div>  
      </section>

          <section class="contact" id="contact" >
            <h1 id="hw">How to find us?</h1>
              <p id="how">
              You can find us in QAMQOR CITY shopping center.
              Click on the coordinates below: <a href="https://goo.gl/maps/PYGK5GhTGuE8gkHU8"  target="_blank">59JP+GH6, Астана 020000</a>
            </p>
            
            
          <div class="map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A84b8572fb3683c09a2b149b03ff4fc6b3aacb6a7d6153de18819f26d61e47f44&amp;source=constructor" width="80%" height="50%" frameborder="0"></iframe>
          </div>  
          <p id="con"> Contact our managers </p> 
          <div class="info">
            
            <a class="wa" href=" https://wa.me/+77719119231?" target="_blank"> <img class="wp" src="{% static 'landing/wp.png' %}" alt=""></a> <a href="https://telegram.me/brz_as" target="_blank"> <img class="wp" src="{% static 'landing/tg.png' %}" alt=""></a> 
          </div>
          </section>

  

</body>    